/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body-style{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.invoice {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/*container infos */

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.my-info, .client-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    width: 45%;
    height: auto;
    border: 2px solid black ;
    border-radius: 10px;
}

.info-facture {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    width: 95%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}


/* Styles pour les modales */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

#dynamic-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#dynamic-table th, #dynamic-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#dynamic-table th {
    background-color: #f4f4f4;
}

button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.line-btn{
    display: flex;
    justify-content: end;
}

button:hover {
    background-color: #0056b3;
}

tr.selected {
    background-color: #ffcccc;
}

.totals div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totals label {
    font-weight: bold;
}

.totals input {
    width: 100px;
    text-align: right;
}

